<div class="login-box mx-auto">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <a href="../../index2.html" class="h1"><b>Login</b></a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Bitte loggen Sie sich ein, um die Seite zu sehen</p>
    
          <form action="../../index3.html" method="post">

            <div class="row">
              <!-- /.col -->
              <div class="col-6">
                <button (click)="onLogin()" class="btn btn-primary btn-block">Log in</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->

