<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <span class="brand-text font-weight-light"> Forschungsinstitut IDiAL </span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li [routerLinkActive]="'active'" class="nav-item">
          <a [routerLink]="['']" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>Chart-Übersicht</p>
          </a>
        </li>

        <li [routerLinkActive]="'active'" class="nav-item">
          <a [routerLink]="['app-table']" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>Daten-Ansicht</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
