<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>DataTables: {{messageTest}}</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">DataTables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">DataTable mit Energieverbrauch</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Zähler</th>
                    <th> min verbrauch</th>
                    <th>Max Verbrauch</th>
                    <th>Vergleich</th>
                    <th>-</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Zähler 1</td>
                    <td>100 kwh</td>
                    <td>200 kwh</td>
                    <td> 100</td>
                    <td>X</td>
                  </tr>
                  <tr>
                    <td>Zähler 2</td>
                    <td>600 kwh</td>
                    <td>800 kwh</td>
                    <td> 200</td>
                    <td>X</td>
                  </tr>
                  <tr>
                    <td>Zähler 3</td>
                    <td>100 kwh</td>
                    <td>200 kwh</td>
                    <td> 100</td>
                    <td>X</td>
                  </tr>
                  <tr>
                    <td>Zähler 4</td>
                    <td>100 kwh</td>
                    <td>200 kwh</td>
                    <td> 100</td>
                    <td>X</td>
                  </tr>
                  <tr>
                    <td>Zähler 5</td>
                    <td>100 kwh</td>
                    <td>200 kwh</td>
                    <td> 100</td>
                    <td>X</td>
                  </tr>
                  <tr>
                    <td>Zähler 6</td>
                    <td>100 kwh</td>
                    <td>200 kwh</td>
                    <td> 100</td>
                    <td>X</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>