/* You can add global styles to this file, and also import other style files */
@import "~daterangepicker/daterangepicker.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.date-form-field{
    margin: 0 20px 25px 0;
}