<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard-Übersicht</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <!-- STACKED BAR CHART -->
          <div class="row">
            <div class="col-md-12">
              <div class="card card-success">
                <div class="card-header" style="background-color: #e0e0e0">
                  <h3
                    class="card-title"
                    style="color: #1f2d3d; font-weight: bold"
                  >
                    Live Graphische Darstellung
                  </h3>
                  <div class="card-tools">
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="collapse"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-tool"
                      data-card-widget="remove"
                    >
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- Stacked Bar Chart wird hier gerendert -->
                <div class="card-body">
                  <div class="chart">
                    <canvas id="stackedBarChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Tableau ausgewählte Zähler -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Zähler</th>
                        <th>akt.Min.[KW/min]</th>
                        <!-- <th>hist.Min.[KW/min]</th> -->
                        <th>akt.Max.[KW/min]</th>
                        <!-- <th>hist.Max.[KW/min]</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of dataVisual">
                        <td>{{ item.name }}</td>
                        <td>{{ item.akt_min }}</td>
                        <!-- <td>{{ item.hist_min }}</td> -->
                        <td>{{ item.akt_max }}</td>
                        <!-- <td>{{ item.hist_max }}</td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <!-- Zählerauswahl -->
          <div class="card card-warning">
            <div class="card-header" style="background-color: #e0e0e0">
              <h3 class="card-title" style="color: #1f2d3d; font-weight: bold">
                Zählerauswahl
              </h3>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label>Hauptzähler:</label>
                  <div *ngFor="let zaehler of hauptZaehler" class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="zaehler.status"
                      name="{{ zaehler.chartData.label }}"
                      (change)="showCheckedShellys()"
                    />
                    <label class="form-check-label">{{
                      zaehler.chartData.label
                    }}</label>
                  </div>
                </div>
                <!-- checkbox -->
                <div class="form-group">
                  <label>Shellys:</label>
                  <div *ngFor="let shelly of shellys" class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      [(ngModel)]="shelly.status"
                      name="{{ shelly.chartData.label }}"
                      (change)="showCheckedShellys()"
                    />
                    <label class="form-check-label">{{
                      shelly.chartData.label
                    }}</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Konfiguration Live-Daten -->
          <div class="card card-warning">
            <div class="card-header" style="background-color: #e0e0e0">
              <h3 class="card-title" style="color: #1f2d3d; font-weight: bold">
                Daten Konfiguration:
              </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Einheiten wechseln:</label>
                      <div
                        class="custom-control custom-switch custom-switch-off custom-switch-on-success"
                      >
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="customSwitch3"
                          [(ngModel)]="convert"
                          name="convert"
                          (change)="convertInWattOrkWatt()"
                        />
                        <label class="custom-control-label" for="customSwitch3"
                          >W&harr;kW</label
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Berechnung Mode</label>
                      <div class="form-check form-switch">
                        <input
                          class="form-control-input"
                          type="checkbox"
                          role="switch"
                          [(ngModel)]="isAverage"
                          name="calulationMode"
                          (change)="changeCalculationMode()"
                        />
                        <label class="form-check-label m-2">Durchschnitt</label>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- Kalender mit Datum und Uhrzeit -->
          <div class="card card-warning">
            <div class="card-header" style="background-color: #e0e0e0">
              <h3 class="card-title" style="color: #1f2d3d; font-weight: bold">
                Zeitraumauswahl
              </h3>
            </div>
            <div class="card-body">
              <form>
                <div class="form-group">
                  <div
                    class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
                  >
                    <input
                      type="text"
                      name="datetimes"
                      style="
                        width: 250px;
                        height: 70px;
                        border-radius: 5px;
                        text-align: center;
                      "
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card card-warning">
            <div class="card-header" style="background-color: #e0e0e0">
              <h3 class="card-title" style="color: #1f2d3d; font-weight: bold">
                Benachrichtigung
              </h3>
            </div>
            <div *ngFor="let msg of zaehlerErrorMessage">
              <p class="m-2">{{ msg }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
